*{margin: 0; padding: 0;}
body{
	font-family: 'Roboto', sans-serif;
}
.menu_bar{
	background: red;
	
}
.menu_bar ul{
	list-style: none;
	text-align: center;
}
.menu_bar ul li{
	display: inline;
}
.menu_bar ul li a{
	color: white;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.5s;
	

}
.menu_bar ul li a:hover{
background:white;
color: black;
}
.banner_area{
	background-image: url(Untitled-3.jpg);
	text-align: center;
	padding: 200px 0;
}
.banner_area h2{
	font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: red;
    font-weight: bold;
}
.banner_area p{
	font-size: 24px;
    padding: 0 15%;
    color:white;
    font-weight: bold;
}
.banner_area a{
	background: white;
	color: black;
	font-size: 20px;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 10px;
	margin-top: 2%;
	display: inline-block;
	margin-bottom: 2%;

}
.banner_area a:hover{
	background: red;
	color: white;
}
.both{
	height: 300px;
	width:100%;
	background:white;
	overflow: hidden;
}
.one{
	height: 300px;
	width: 50%;
	background-image: url(assortment-of-fruits.jpg);
	float: left;
}
.two{
	height: 300px;
	width: 50%;
	float: left;
	background: black;
}
.two h2{
	text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px;
    color: red;
}
.two p{
margin-left: 10px;
    font-size: 18px;
    color: white;
}
.two a{
	background: white;
	color: black;
	font-size: 20px;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 10px;
	margin-top: 2%;
	display: inline-block;
	margin-bottom: 2%;
	margin-left: 40%;
}
.two a:hover{
	background: red;
	color: white;
}
.video{
	text-align: center;
	background: black;
	margin-bottom: 10px;
}
.form{
	background: #ddd;
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
	padding: 20px;
	border-radius: 5px;
	margin-top: 50px;
}
.form input,.form textarea,.form select{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 0 10px 5px;

}
.form input[type="submit"]{
	background: red;
	color: black;
	font-size: 18px;
	width: 50%;
	margin-left: 25%;
}
.form input[type="radio"]{
	width: 10%;
}
.form input[type="checkbox"]{
	width: 5%;
}